[Desktop Entry]
Type=Application
Name=BlueFerry Tray
Comment=iPhone status and unread messages in the system tray
Exec=blueferry-tray
Icon=io.weirdware.BlueFerry
Terminal=false
NoDisplay=true
Categories=Network;
X-KDE-autostart-phase=2
X-GNOME-Autostart-enabled=true
